<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="unilane" translate="label" sortOrder="999999">
            <label>Unilane</label>
        </tab>
        <section id="syncproduct" translate="label" sortOrder="9999" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Import Products</label>
            <tab>unilane</tab>        
            <resource>Barbanet_SampleModule::samplemodule</resource>    
            <group id="syncproduct" translate="label" type="text" sortOrder="2000" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Import Products</label>                
                <field id="sync_button" translate="label" type="button" sortOrder="2010" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Import</label>
                    <attribute type="button_label">Sync Products</attribute>
                    <frontend_model>Unilane\SyncProducts\Block\Adminhtml\System\Config\Form\Field\Import</frontend_model>
                    <comment>
                        <![CDATA[Import Products for Unilane]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>